<h1> Concerts Matching Your Search Criteria </h1>




<p>
  <% results = [] %>
  <% for n in 0..@c do %>
   <% a = { artist: @t["title"][n], time: @t["time"][n], venue: @t["venue"][n], url: @t["url"][n]} %>
   <% results << a %>
  <%end%>

  <% results.each do |entry| %>
    <% @event = Event.new(title: entry[:artist], date: entry[:time], url: entry[:url]) %>
    <% if @event.save %>
    <%= entry[:artist] %><br>
    <%= entry[:time] %><br>
    <%= entry[:venue] %><br>
    <%= entry[:url] %><br><%= button_to "add to list" %><br>
    <% else %>
    <%= "Try Again" %>
    <% end %>
  <% end %>


</p>


